<!DOCTYPE html>
<html>
    <head>
        <title>search</title>
    </head>
    <body>
        <header>
            <p> CSC 648.01, Spring 2020, Team 06 </p>
        </header>
        <div>
            <form method="POST" action="">
                <fieldset class="form-group">
                    <div class="form-group">
                        {{ form.category(value={{cat}) }}
                    </div>
                    <div class="form-group">
                        {{ form.term(value={{term}}) }}
                    </div>
                    <div class="form-group">
                        {{ form.submit() }}
                    </div>
                </fieldset>
            </form>
            <p></p>
            <center>

                {% for item in results %}
                    <tr>
                        <p> OWNER: {{ item[1] }} </p>
                        <p> IMAGE_NAME: {{ item[2] }} </p>
                        <p> DESCRIPTION: {{ item[3] }} </p>
                        <p> STATIC REFERENCE: {{ item[4] }} </p>
                        <p> CATEGORY: {{ item[6] }} </p>
                        <p> PRICE: ${{ item[7] }} </p>
                        <img src="/static{{ item[4] }}" alt="image" height="256" width="256">
                        </br>
                    </tr>
                {% endfor %}
            </center>
        </div>
    </body>
</html>