<!DOCTYPE html>
<html>
    <head>
        <title>search</title>
    </head>
    <body>
        <header>
            <form method="POST" action="">
                <fieldset class="form-group">
                    <div class="form-group">
                        {{ form.category() }}
                    </div>
                    <div class="form-group">
                        {{ form.term() }}
                    </div>
                    <div class="form-group">
                        {{ form.submit() }}
                    </div>
                </fieldset>
            </form>
        </header>
        <div>
            <p></p>
            <center>
                {% for item in results %}
                    <tr>
                        <td> {{ item }}</td>
                        </br>
                    </tr>
                {% endfor %}
            </center>
        </div>
    </body>
</html>