# ignore python cache files
__pycache__/

# ignore files with .pyc extension 
*.pyc

# ignore config file
config.py

# ignore virtual environment
venv

# ignore egg 
father.egg-info

# ignore node_modules
node_modules