# ignore mac spacific file attributes
.DS_store

# ignore python virtual environments
env
venv

# ignore config.py
config.py

# ignore python cache files
__pycache__/

# ignore files with .pyc extension 
*.pyc

# ignore production wsgi related files 
myapp.ini
wsgi.py
.idea

# ignore jetbrains IDE stuff
.idea