# ignore mac spacific file attributes
.DS_store

# ignore python virtual environments
env

# ignore python cache files
__pycache__/

# ignore files with .pyc extension 
*.pyc

# ignore production wsgi related files 
myapp.ini
wsgi.py

# ignore jetbrains IDE stuff
.idea
