{% extends 'base.html' %}

{# TODO: add social media buttons #}

{% block content %}
  <div class="container text-center">

    <img src="{{ team_member.image }}" class="img-fluid rounded-circle w-50 border border-dark" alt="test image">
    
    <h1 class="text-primary">
      <b>
        {% block title %}
          {{ team_member.name }}
        {% endblock %}
      </b>
    </h1>

    <h2 class="text-secondary">{{ team_member.position }}</h2>

    <p class="lead">{{ team_member.description}}</p>

  </div>
{% endblock %}
