{% extends 'navbar.html' %}

{% block content %}


<style>


.custom #tabs li {
   background: #efefef;
}

.nav-tabs > li > a.active {
  background-color: orange !important;
  border-style: none;
  border-radius: 0;
}

.greenText{ background-color:green; }

select {

  /* styling */
  background-color: #dbc3e3;
  border: none;
  border-radius: none;
  display: inline-block;
  font: Times New Roman;
  line-height: 1.0em;
  padding: 0.5em 2.0em 0.0em 2.5em;
  align-self: right;

  /* reset */

  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}



select.minimal {
  background-image:
    linear-gradient(45deg, transparent 50%, purple 50%),
    linear-gradient(135deg, purple 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 1px),
    calc(100% - 15px) calc(1em + 1px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}




</style>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>


<!-- USER LOG OUT DROPDOWN -->
<div class="container mt-5">
    <ul class="nav navbar-right top-nav">
        <li class="mr-5">
            <div class="dropdown">
                <a class="btn btn-info dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin Dashboard</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
            </div>
        </li>
    </ul>



<!-- MY ITEMS AND MESSAGES TAB -->
    <nav class="mt-5">

        <ul class="nav nav-tabs nav-fill" id="nav-tab" role="tablist" style="font-size:160%">
            <li class="nav-item">
                <a class="nav-link active" style="color:purple;" id="nav-pending-tab" data-toggle="tab"
                   href="#nav-pending" role="tab"
                   aria-controls="nav-pending" aria-selected="true"><i class="fas fa-info-circle"></i> Pending</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color:purple;" id="nav-posts-tab" data-toggle="tab" href="#nav-posts"
                   role="tab"
                   aria-controls="nav-posts" aria-selected="false"><i class="far fa-image"></i> Posts </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color:purple;" id="nav-users-tab" data-toggle="tab" href="#nav-users"
                   role="tab"
                   aria-controls="nav-users" aria-selected="false"><i class="fas fa-user-graduate"></i> Users </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color:purple;" id="nav-messages-tab" data-toggle="tab" href="#nav-messages"
                   role="tab"
                   aria-controls="nav-messages" aria-selected="false"><i class="far fa-envelope"></i> Messages </a>
            </li>
        </ul>
    </nav>

    <div class="tab-content" id="nav-tabContent">

        <!-- PENDING MEDIA TAB -->
        <!-- PENDING MEDIA TAB -->
        <!-- PENDING MEDIA TAB -->
        <!-- PENDING MEDIA TAB -->
        <!-- PENDING MEDIA TAB -->


        <div class="tab-pane fade show active" id="nav-pending" role="tabpanel" aria-labelledby="nav-pending-tab">
            <div>
                <table class="table" style="text-align:center">
                    <thead style="background:#dbc3e3;">
                    <tr>
                        <th>Pending for review</th>
                        <th>Date Requested</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><a class="btn btn-outline-info btn-sm btn-sm " data-target="#ApprovePost"
                               data-toggle="modal"
                               type="button">View Media</a></td>
                        <td>datetime</td>
                        <td>

                        </td>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <td><a class="btn btn-outline-info btn-sm btn-sm " data-target="#ApprovePost"
                               data-toggle="modal"
                               type="button">View Media</a></td>
                        <td>datetime</td>
                        <td>

                        </td>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <td><a class="btn btn-outline-info btn-sm btn-sm " data-target="#ApprovePost"
                               data-toggle="modal"
                               type="button">View Media</a></td>
                        <td>datetime</td>
                        <td>

                        </td>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <td><a class="btn btn-outline-info btn-sm btn-sm " data-target="#ApprovePost"
                               data-toggle="modal"
                               type="button">View Media</a></td>
                        <td>datetime</td>
                        <td>

                        </td>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <td><a class="btn btn-outline-info btn-sm btn-sm " data-target="#ApprovePost"
                               data-toggle="modal"
                               type="button">View Media</a></td>
                        <td>datetime</td>
                        <td>

                        </td>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <td><a class="btn btn-outline-info btn-sm btn-sm " data-target="#ApprovePost"
                               data-toggle="modal"
                               type="button">View Media</a></td>
                        <td>datetime</td>
                        <td>

                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <td><a class="btn btn-outline-info btn-sm btn-sm " data-target="#ApprovePost"
                               data-toggle="modal"
                               type="button">View Media</a></td>
                        <td>datetime</td>
                        <td>

                        </td>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <td><a class="btn btn-outline-info btn-sm btn-sm " data-target="#ApprovePost"
                               data-toggle="modal"
                               type="button">View Media</a></td>
                        <td>datetime</td>
                        <td>

                        </td>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <td><a class="btn btn-outline-info btn-sm btn-sm " data-target="#ApprovePost"
                               data-toggle="modal"
                               type="button">View Media</a></td>
                        <td>datetime</td>
                        <td>

                        </td>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <td><a class="btn btn-outline-info btn-sm btn-sm " data-target="#ApprovePost"
                               data-toggle="modal"
                               type="button">View Media</a></td>
                        <td>datetime</td>
                        <td>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <!-- POSTS TAB ADMIN VIEW -->
        <!-- POSTS TAB ADMIN VIEW -->
        <!-- POSTS TAB ADMIN VIEW -->
        <!-- POSTS TAB ADMIN VIEW -->
        <!-- POSTS TAB ADMIN VIEW -->

        <div class="tab-pane fade" id="nav-posts" role="tabpanel" aria-labelledby="nav-posts-tab">
            <div>
                <table class="table" style="text-align:center">
                    <thead style="background:#dbc3e3;">
                    <tr>
                        <th>Digital Media</th>
                        <th>
                            <select class="minimal" id="posts">
                                <option selected value="allPosts">Posts</option>
                                <option value="approve">Approved</option>
                                <option value="rejected" style="color:red;">Rejected</option>
                            </select></th>
                        <th>Date Reviewed</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><a class="btn btn-outline-info btn-sm btn-sm " data-target="#"
                               data-toggle="modal"
                               type="button">View Media</a></td>
                        <td class="text-success">Approved</td>
                        <td>datetime</td>
                        <td>

                        </td>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <td><a class="btn btn-outline-info btn-sm btn-sm " data-target="#"
                               data-toggle="modal"
                               type="button">View Media</a></td>
                        <td class="text-success">Approved</td>
                        <td>datetime</td>
                        <td>

                        </td>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <td><a class="btn btn-outline-info btn-sm btn-sm " data-target="#"
                               data-toggle="modal"
                               type="button">View Media</a></td>
                        <td class="text-success">Approved</td>
                        <td>datetime</td>
                        <td>

                        </td>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <td><a class="btn btn-outline-info btn-sm btn-sm " data-target="#"
                               data-toggle="modal"
                               type="button">View Media</a></td>
                        <td class="text-danger">Rejected</td>
                        <td>datetime</td>
                        <td>

                        </td>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <td><a class="btn btn-outline-info btn-sm btn-sm " data-target="#"
                               data-toggle="modal"
                               type="button">View Media</a></td>
                        <td class="text-success">Approved</td>
                        <td>datetime</td>
                        <td>

                        </td>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <td><a class="btn btn-outline-info btn-sm btn-sm " data-target="#"
                               data-toggle="modal"
                               type="button">View Media</a></td>
                        <td class="text-success">Approved</td>
                        <td>datetime</td>
                        <td>

                        </td>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <td><a class="btn btn-outline-info btn-sm btn-sm " data-target="#"
                               data-toggle="modal"
                               type="button">View Media</a></td>
                        <td class="text-danger">Rejected</td>
                        <td>datetime</td>
                        <td>

                        </td>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <td><a class="btn btn-outline-info btn-sm btn-sm " data-target="#"
                               data-toggle="modal"
                               type="button">View Media</a></td>
                        <td class="text-success">Approved</td>
                        <td>datetime</td>
                        <td>

                        </td>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <td><a class="btn btn-outline-info btn-sm btn-sm " data-target="#"
                               data-toggle="modal"
                               type="button">View Media</a></td>
                        <td class="text-success">Approved</td>
                        <td>datetime</td>
                        <td>

                        </td>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <td><a class="btn btn-outline-info btn-sm btn-sm " data-target="#"
                               data-toggle="modal"
                               type="button">View Media</a></td>
                        <td class="text-success">Approved</td>
                        <td>datetime</td>
                        <td>

                        </td>
                    </tr>
                    </tbody>

                </table>
            </div>
        </div>


        <!-- USERS TAB ADMIN VIEW -->
        <!-- USERS TAB ADMIN VIEW -->
        <!-- USERS TAB ADMIN VIEW -->
        <!-- USERS TAB ADMIN VIEW -->
        <!-- USERS TAB ADMIN VIEW -->


        <div class="tab-pane fade" id="nav-users" role="tabpanel" aria-labelledby="nav-users-tab">
            <div>
                <table class="table" style="text-align:center">
                    <thead style="background:#dbc3e3;">
                    <tr>
                        <th>Username/Email</th>
                        <th>Date joined</th>
                        <th>Last Active</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>username</td>
                        <td>datetime</td>
                        <td>datetime</td>

                        <!-- ACTION REPORT OR BLOCK USER -->

                        <td>
                            <a class="fa fa-warning mr-4" data-toggle="modal" data-target="#reportUser"></a>
                            <a class="fas fa-ban" data-toggle="modal" data-target="#blockUser"></a>
                        </td>

                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <td>username</td>
                        <td>datetime</td>
                        <td>datetime</td>

                        <td>
                            <a class="fa fa-warning mr-4" data-toggle="modal" data-target="#reportUser"></a>
                            <a class="fas fa-ban" data-toggle="modal" data-target="#blockUser"></a>
                        </td>

                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <td>username</td>
                        <td>datetime</td>
                        <td>datetime</td>

                        <td>
                            <a class="fa fa-warning mr-4" data-toggle="modal" data-target="#reportUser"></a>
                            <a class="fas fa-ban" data-toggle="modal" data-target="#blockUser"></a>
                        </td>

                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <td>username</td>
                        <td>datetime</td>
                        <td>datetime</td>

                        <td>
                            <a class="fa fa-warning mr-4" data-toggle="modal" data-target="#reportUser"></a>
                            <a class="fas fa-ban" data-toggle="modal" data-target="#blockUser"></a>
                        </td>

                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <td>username</td>
                        <td>datetime</td>
                        <td>datetime</td>

                        <td>
                            <a class="fa fa-warning mr-4" data-toggle="modal" data-target="#reportUser"></a>
                            <a class="fas fa-ban" data-toggle="modal" data-target="#blockUser"></a>
                        </td>

                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <td>username</td>
                        <td>datetime</td>
                        <td>datetime</td>

                        <td>
                            <a class="fa fa-warning mr-4" data-toggle="modal" data-target="#reportUser"></a>
                            <a class="fas fa-ban" data-toggle="modal" data-target="#blockUser"></a>
                        </td>

                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <td>username</td>
                        <td>datetime</td>
                        <td>datetime</td>

                        <td>
                            <a class="fa fa-warning mr-4" data-toggle="modal" data-target="#reportUser"></a>
                            <a class="fas fa-ban" data-toggle="modal" data-target="#blockUser"></a>
                        </td>

                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <td>username</td>
                        <td>datetime</td>
                        <td>datetime</td>

                        <td>
                            <a class="fa fa-warning mr-4" data-toggle="modal" data-target="#reportUser"></a>
                            <a class="fas fa-ban" data-toggle="modal" data-target="#blockUser"></a>
                        </td>

                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <td>username</td>
                        <td>datetime</td>
                        <td>datetime</td>

                        <td>
                            <a class="fa fa-warning mr-4" data-toggle="modal" data-target="#reportUser"></a>
                            <a class="fas fa-ban" data-toggle="modal" data-target="#blockUser"></a>
                        </td>

                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <td>username</td>
                        <td>datetime</td>
                        <td>datetime</td>

                        <td>
                            <a class="fa fa-warning mr-4" data-toggle="modal" data-target="#reportUser"></a>
                            <a class="fas fa-ban" data-toggle="modal" data-target="#blockUser"></a>
                        </td>

                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <td>username</td>
                        <td>datetime</td>
                        <td>datetime</td>

                        <td>
                            <a class="fa fa-warning mr-4" data-toggle="modal" data-target="#reportUser"></a>
                            <a class="fas fa-ban" data-toggle="modal" data-target="#blockUser"></a>
                        </td>

                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <td>username</td>
                        <td>datetime</td>
                        <td>datetime</td>

                        <td>
                            <a class="fa fa-warning mr-4" data-toggle="modal" data-target="#reportUser"></a>
                            <a class="fas fa-ban" data-toggle="modal" data-target="#blockUser"></a>
                        </td>

                    </tr>
                    </tbody>

                </table>
            </div>
        </div>

        <!--        MY MESSAGES TAD-->
        <!--        MY MESSAGES TAD-->
        <!--        MY MESSAGES TAD-->
        <!--        MY MESSAGES TAD-->
        <!--        MY MESSAGES TAD-->

        <div class="tab-pane fade" id="nav-messages" role="tabpanel" aria-labelledby="nav-messages-tab">
            <table class="table" style="text-align:center">
                <thead style="background:#dbc3e3;">
                <tr>
                    <th>Messages</th>
                    <th>Date</th>
                    <th>Sender</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <a class="btn btn-outline-info btn-sm btn-sm " data-target="#ReadMessage" data-toggle="modal"
                           type="button">View Message</a>
                    </td>
                    <td>datetime</td>
                    <td>username</td>

                </tr>
                <tr>
                    <td>
                        <a class="btn btn-outline-info btn-sm btn-sm " data-target="#ReadMessage" data-toggle="modal"
                           type="button">View Message</a>
                    </td>
                    <td>datetime</td>
                    <td>username</td>

                </tr>
                <tr>
                    <td>
                        <a class="btn btn-outline-info btn-sm btn-sm " data-target="#ReadMessage" data-toggle="modal"
                           type="button">View Message</a>
                    </td>
                    <td>datetime</td>
                    <td>username</td>

                </tr>
                <tr>
                    <td>
                        <a class="btn btn-outline-info btn-sm btn-sm " data-target="#ReadMessage" data-toggle="modal"
                           type="button">View Message</a>
                    </td>
                    <td>datetime</td>
                    <td>username</td>

                </tr>
                <tr>
                    <td>
                        <a class="btn btn-outline-info btn-sm btn-sm " data-target="#ReadMessage" data-toggle="modal"
                           type="button">View Message</a>
                    </td>
                    <td>datetime</td>
                    <td>username</td>

                <tr>
                    <td>
                        <a class="btn btn-outline-info btn-sm btn-sm " data-target="#ReadMessage" data-toggle="modal"
                           type="button">View Message</a>
                    </td>
                    <td>datetime</td>
                    <td>username</td>

                </tr>
                <tr>
                    <td>
                        <a class="btn btn-outline-info btn-sm btn-sm " data-target="#ReadMessage" data-toggle="modal"
                           type="button">View Message</a>
                    </td>
                    <td>datetime</td>
                    <td>username</td>

                </tr>
                <tr>
                    <td>
                        <a class="btn btn-outline-info btn-sm btn-sm " data-target="#ReadMessage" data-toggle="modal"
                           type="button">View Message</a>
                    </td>
                    <td>datetime</td>
                    <td>username</td>

                </tr>
                <tr>
                    <td>
                        <a class="btn btn-outline-info btn-sm btn-sm " data-target="#ReadMessage" data-toggle="modal"
                           type="button">View Message</a>
                    </td>
                    <td>datetime</td>
                    <td>username</td>

                </tr>
                <tr>
                    <td>
                        <a class="btn btn-outline-info btn-sm btn-sm " data-target="#ReadMessage" data-toggle="modal"
                           type="button">View Message</a>
                    </td>
                    <td>datetime</td>
                    <td>username</td>

                </tr>
                </tbody>
            </table>
        </div>

    </div>


    <!-- SINGLE MEDIA VIEW TO BE APPROVED BY ADMIN -->
    <!-- SINGLE MEDIA VIEW TO BE APPROVED BY ADMIN -->


    <div aria-hidden="true" aria-labelledby="ApprovePost" class="modal fade" id="ApprovePost" role="dialog"
         tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-md" role="document">
            <div class="modal-content">
                <!-- Title of the Media -->
                <div class="modal-header text-center">
                    <h5 class="modal-title w-100" id="MediaViewTitle">Digital Media Information</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true"></span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="container">
                        <form>
                            <!-- Image of the Media -->
                            <div class=media">
                                <img alt="image" class="img-thumbnail mx-auto d-block img-fluid"
                                     height="300" src="/static/thumbnails/sb1_t.jpg" width="300">
                            </div>

                            <!-- Digital media info -->
                            <div>
                                <div class="row">
                                    <div class="col text-right">
                                        <label class="font-weight-bold">Category:</label>
                                    </div>
                                    <div class="col">
                                        <span>BIO 417</span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col text-right">
                                        <label class="font-weight-bold">Media type:</label>
                                    </div>
                                    <div class="col">
                                        <span>Image</span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col text-right">
                                        <label class="font-weight-bold">License:</label>
                                    </div>
                                    <div class="col">
                                        <span>Free</span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col text-right">
                                        <label class="font-weight-bold">Author:</label>
                                    </div>
                                    <div class="col">
                                        <span>Username</span>
                                    </div>
                                </div>

                                <div class="form-group mr-3">
                                    <label class="font-weight-bold">Description:</label>
                                    <p class="card-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                        aliquip
                                        ex ea commodo consequat. Duis aute irure dolor."
                                    </p>
                                </div>
                            </div>

                            <!-- Cancel or Download Media Buttons -->

                            <div class="form-group text-right">
                                <button class="btn btn-danger" data-dismiss="modal">Reject</button>
                                &MediumSpace;
                                <button class="btn btn-success" data-dismiss="modal">Approve</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!--    MESSAGE VIEW MODAL -->
    <div class="modal fade" id="ReadMessage" tabindex="-1" role="dialog" aria-labelledby="ReadMessageLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-md" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">View message</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form>

                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Sender:</label>
                            <input type="text" class="form-control" id="recipient-name"
                                   placeholder="username@mail.sfsu.edu"
                                   readonly>
                        </div>

                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Subject:</label>
                            <input type="text" class="form-control" id="message-subject"
                                   placeholder="Digital Media Title"
                                   readonly>
                        </div>

                        <div class="form-group">
                            <label for="message-text" class="col-form-label"> Message:</label>
                            <p class="card-text" id="message-text">"Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                ex ea commodo consequat. Duis aute irure dolor."
                            </p>
                        </div>

                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                    <button data-target="#MessageSent" data-dismiss="modal" data-toggle="modal" type="button"
                            class="btn btn-success">Reply
                    </button>
                </div>
            </div>
        </div>

    </div>


    <!--PAGINATION -->
    <!--PAGINATION -->
    <!--PAGINATION -->
    <!--PAGINATION -->
    <!--PAGINATION -->
    <!--PAGINATION -->


    <nav aria-label="Page navigation example" >
        <ul class="pagination justify-content-center" >
            <li class="page-item" style="color:purple;">
                <a class="page-link"  href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>

</div>


{% endblock %}