{% extends 'base.html' %}

<body>
    {% block content %}
    
    <div class="container">
        <br />
        <div class="row">
            <div class="font-weight-bold">
                <h1>
                    {% block title %}Snapster{% endblock %}
                </h1>
            </div>
        </div>
        
        <div class="row">
            <div>
                <h2 class="text-secondary">
                    exclusive media for sfsu students
                </h2>
            </div>
        </div>

        <br />
    
        <div class="row">
            <div>
                <h4 class="text-secondary">
                    Trending Now
                </h4>
            </div>
        </div>    
        <div id="carouselTrendingNow" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                
                                <div class="card-body">
                                    <h5 class="card-title text-center">title 1</h5>
                                </div>
                            </div>
                        </div>
    
                        <div class="col">
                            <div class="card">
                                
                                <div class="card-body">
                                    <h5 class="card-title text-center">title 2</h5>
                                </div>
                            </div>
                        </div>
    
                        <div class="col">
                            <div class="card">
                                
                                <div class="card-body">
                                    <h5 class="card-title text-center">title 3</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="carousel-item">
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                
                                <div class="card-body">
                                    <h5 class="card-title text-center">title 4</h5>
                                </div>
                            </div>
                        </div>
    
                        <div class="col">
                            <div class="card">
                                
                                <div class="card-body">
                                    <h5 class="card-title text-center">title 5</h5>
                                </div>
                            </div>
                        </div>
    
                        <div class="col">
                            <div class="card">
                                
                                <div class="card-body">
                                    <h5 class="card-title text-center">title 6</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="carousel-item">
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                
                                <div class="card-body">
                                    <h5 class="card-title text-center">title 1</h5>
                                </div>
                            </div>
                        </div>
    
                        <div class="col">
                            <div class="card">
                                
                                <div class="card-body">
                                    <h5 class="card-title text-center">title 2</h5>
                                </div>
                            </div>
                        </div>
    
                        <div class="col">
                            <div class="card">
                                
                                <div class="card-body">
                                    <h5 class="card-title text-center">title 3</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
            <div class="carousel-control-prev" href="#carouselTrendingNow" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </div>
    
            <div class="carousel-control-next" href="#carouselTrendingNow" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </div>
    
        </div>

        <br />
    
        <div class="row">
            <div>
                <h4 class="text-secondary">
                    Recently Added
                </h4>
            </div>
        </div>
        
        <div id="carouselRecentlyAdded" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                
                                <div class="card-body">
                                    <h5 class="card-title text-center">title 1</h5>
                                </div>
                            </div>
                        </div>
    
                        <div class="col">
                            <div class="card">
                                
                                <div class="card-body">
                                    <h5 class="card-title text-center">title 2</h5>
                                </div>
                            </div>
                        </div>
    
                        <div class="col">
                            <div class="card">
                                
                                <div class="card-body">
                                    <h5 class="card-title text-center">title 3</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="carousel-item">
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                
                                <div class="card-body">
                                    <h5 class="card-title text-center">title 4</h5>
                                </div>
                            </div>
                        </div>
    
                        <div class="col">
                            <div class="card">
                                
                                <div class="card-body">
                                    <h5 class="card-title text-center">title 5</h5>
                                </div>
                            </div>
                        </div>
    
                        <div class="col">
                            <div class="card">
                                
                                <div class="card-body">
                                    <h5 class="card-title text-center">title 6</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="carousel-item">
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                
                                <div class="card-body">
                                    <h5 class="card-title text-center">title 1</h5>
                                </div>
                            </div>
                        </div>
    
                        <div class="col">
                            <div class="card">
                                
                                <div class="card-body">
                                    <h5 class="card-title text-center">title 2</h5>
                                </div>
                            </div>
                        </div>
    
                        <div class="col">
                            <div class="card">
                                
                                <div class="card-body">
                                    <h5 class="card-title text-center">title 3</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
            <div class="carousel-control-prev" href="#carouselRecentlyAdded" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </div>
    
            <div class="carousel-control-next" href="#carouselRecentlyAdded" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </div>
    
        </div>
    
    
    </div>
     
    {% endblock %}

</body>