{% extends 'base.html' %}

{% block content %}

  <!-- COPYRIGHT CLAIM -->
  <!-- COPYRIGHT CLAIM -->
  <!-- COPYRIGHT CLAIM -->
<small class=".container-sm"> SFSU Software Engineering Project CSC 648-848, Spring 2020. For
    Demonstration Only</small>


  <!-- Navigation Bar Documentation -->
  <!-- https://getbootstrap.com/docs/4.4/components/navbar/ -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <span class="navbar-brand"><a class="nav-link" href="/">Snapster</a></span>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false"
      aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
  </nav>


<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container register">
	<div class="row">
		<div class="col-md-5">
			<div class="Snapster-description text-center">
				<h2 style="color:White;font-family:Book Antiqua;"> Welcome to Snapster</h2>
              <br><br><br><br>
				<h4 style="color:White;font-family:Book Antiqua;">A web platform
                At San Francisco State University
                where the students and faculty members
                buy, sell and share digital media
                with ease and transparency. </h4>
			</div>
		</div>
		<div class="col-md-7">
				<div class="form-group">
        

				   <div class="register-form">
                <form class="needs-validation" action="{{ url_for('login') }}" method="POST">

                    <div class="form-row">
                        <div class="col mb-3">
                            <label for="usernameEmail">Username or Email</label>
                            <!--<input type="text" class="form-control" id="usernameEmail"
                                   placeholder="" value="" required>-->
                            {{ form.username(class="form-control") }}
                            <div class="invalid-feedback">
                                Please enter your username or SFSU email.
                            </div>
                        </div>
                    </div>


                    <div class="form-row">
                        <div class="col mb-3">
                            <label for="password">Password</label>
                            {{ form.password(class="form-control") }}
                            <!--<input type="password" class="form-control" id="password" required>-->
                            <div class="invalid-feedback">
                                Please enter your password.
                            </div>
                        </div>
                    </div>


                    <!-- RECAPTCHA -->

                    <div class="form-group text-center">
                        <div class="g-recaptcha " data-sitekey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"
                             data-callback="verifyRecaptchaCallback"
                             data-expired-callback="expiredRecaptchaCallback"></div>
                        <input class="form-control d-none" data-recaptcha="true"
                               data-error="Please complete the Captcha">
                        <div class="help-block with-errors"></div>
                    </div>
                    

                    <button name= "submit" class="btn btn-success btn-lg btn-block" type="submit">Login</button><br>
                    <!--{{ form.submit(class="btn btn-success btn-lg btn-block") }}-->
                    <br>
                  <a href="/register"><p style="text-align:center">Don't have an account?</p></a>
                  <a href="/forgotPassword"><p style="text-align:center">Forgot Password?</p></a>
                </form>

            </div>
			</div>
		</div>
	</div>
</div>


<!--
<script type="text/javascript">
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');

    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();


</script>


-->

<style>
body{
		background-color: #E9E9E9;
	}
	.register{
		padding: 4%;
	}
	.col-md-5{
		background: linear-gradient(to bottom, #9966ff 4%, #ff9966 100%);
		padding: 4%;
		border-top-left-radius: .5rem;
		border-bottom-left-radius: 0.5rem;
	}

	.col-md-7{
		background: #fff;
		padding: 3%;
		border-top-right-radius: 0.5rem;
		border-bottom-right-radius: 0.5rem;
	}

</style>







{% endblock %}
