{% extends 'base.html' %}

{% block content %}
<small class=".container-sm"> SFSU Software Engineering Project CSC 648-848, Spring 2020. For
    Demonstration Only</small>

<!-- Navigation Bar Documentation -->
<!-- https://getbootstrap.com/docs/4.4/components/navbar/ -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <span class="navbar-brand"><a class="nav-link" href="/">Snapster</a></span>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false"
            aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
    </button>


    <div class="collapse navbar-collapse" id="menu">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">{% block title %}Register{% endblock %}</a>
            </li>
        </ul>
    </div>
</nav>


<!-- COPYRIGHT CLAIM -->
<!-- COPYRIGHT CLAIM -->
<!-- COPYRIGHT CLAIM -->



<!--  <form method="POST" action="">-->
<!--    <div class="container-fluid">-->
<!--      <div class="row mx-auto">-->

<!--        &lt;!&ndash; DIVIDE BOX1 &ndash;&gt;-->
<!--        &lt;!&ndash; DIVIDE BOX1 &ndash;&gt;-->
<!--        &lt;!&ndash; DIVIDE BOX1 &ndash;&gt;-->
<!--        <div class="col-sm-3">-->
<!--        </div>-->


<!--        &lt;!&ndash;MAIN DIVIDE BOX &ndash;&gt;-->
<!--        &lt;!&ndash;MAIN DIVIDE BOX &ndash;&gt;-->
<!--        &lt;!&ndash;MAIN DIVIDE BOX &ndash;&gt;-->
<!--        <div class="col-sm-6">-->
<!--          &lt;!&ndash; WEBSITE INTRO &ndash;&gt;-->
<!--          &lt;!&ndash; WEBSITE INTRO &ndash;&gt;-->
<!--          &lt;!&ndash; WEBSITE INTRO &ndash;&gt;-->
<!--          <div class="row">-->
<!--            <div class="col-sm-6">-->
<!--              <div class="intro-basic">-->
<!--                <h2 class="text intro title">-->
<!--                  Welcome to Snapster-->
<!--                  <br>-->
<!--                </h2>-->
<!--                <div>-->
<!--                  <h5 class="text intro">-->
<!--                    <div class="col-sm">-->
<!--                      A web platform-->
<!--                      <br>-->
<!--                    </div>-->

<!--                    <div class="col-sm">-->
<!--                      At San Francisco State University,-->
<!--                      <br>-->
<!--                    </div>-->

<!--                    <div class="col-sm">-->
<!--                      where the students and faculty members-->
<!--                      <br>-->
<!--                    </div>-->

<!--                    <div class="col-sm">-->
<!--                      buy, sell and share digital media-->
<!--                      <br>-->
<!--                    </div>-->

<!--                    <div class="col-sm">-->
<!--                      with ease and transparency.-->
<!--                      <br>-->
<!--                    </div>-->
<!--                  </h5>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->


<!--            &lt;!&ndash; REGISTER BOX &ndash;&gt;-->
<!--            &lt;!&ndash; REGISTER BOX &ndash;&gt;-->
<!--            &lt;!&ndash; REGISTER BOX &ndash;&gt;-->
<!--            <div class="col-sm-6">-->
<!--              <div class="row">-->
<!--                &lt;!&ndash; INPUTBOX DIVIDE BOX &ndash;&gt;-->
<!--                <div class="row mx-auto">-->
<!--                  <div class="col-sm">-->
<!--                    <div class="row mx-auto">-->
<!--                      <div class="col-xl">-->
<!--                        <div class="row">-->
<!--                          <div class="col-sm-6">-->
<!--                            <label for="username" class="inputbox-text">Username: </label>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        {{ form.username(class="inputbox") }}-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; END OF INPUTBOX DIVIDE BOX &ndash;&gt;-->
<!--                &lt;!&ndash; INPUTBOX DIVIDE BOX 1&ndash;&gt;-->
<!--                <div class="row mx-auto">-->
<!--                  <div class="col-sm">-->
<!--                    <div class="row mx-auto">-->
<!--                      <div class="col-xl">-->
<!--                        <div class="row">-->
<!--                          <div class="col-sm-6">-->
<!--                            <label for="email" class="inputbox-text">SFSU Email: </label>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        {{ form.email(class="inputbox") }}-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; END OF INPUTBOX DIVIDE BOX 1 &ndash;&gt;-->
<!--                &lt;!&ndash; INPUTBOX DIVIDE BOX 2 &ndash;&gt;-->
<!--                <div class="row mx-auto">-->
<!--                  <div class="col-sm">-->
<!--                    <div class="row mx-auto">-->
<!--                      <div class="col-xl">-->
<!--                        <div class="row">-->
<!--                          <div class="col-sm-6">-->
<!--                            <label for="pw" class="inputbox-text">Password: </label>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        {{ form.password(class="inputbox") }}-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; END OF INPUTBOX DIVIDE BOX 2 &ndash;&gt;-->
<!--                &lt;!&ndash; INPUTBOX DIVIDE BOX 3 &ndash;&gt;-->
<!--                <div class="row mx-auto">-->
<!--                  <div class="col-sm">-->
<!--                    <div class="row mx-auto">-->
<!--                      <div class="col-xl">-->
<!--                        <div class="row">-->
<!--                          <div class="col-sm-6">-->
<!--                            <label for="cpw" class="inputbox-text">Confirm Password: </label>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        {{ form.confirm_password(class="inputbox") }}-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; END OF INPUTBOX DIVIDE BOX 3 &ndash;&gt;-->
<!--              </div>-->

<!--              &lt;!&ndash; SUBMIT BUTTON &ndash;&gt;-->
<!--              &lt;!&ndash; SUBMIT BUTTON &ndash;&gt;-->
<!--              &lt;!&ndash; SUBMIT BUTTON &ndash;&gt;-->
<!--              <br>-->
<!--              <div class="button-text mx-auto">-->
<!--                {{ form.submit(class="button mx-auto") }}-->
<!--              </div>-->
<!--              <div>-->
<!--                <a href="/login" class="text alreadyhaveacc">Already have an account?</a>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->


<!--        &lt;!&ndash; DIVIDE BOX2 &ndash;&gt;-->
<!--        &lt;!&ndash; DIVIDE BOX2 &ndash;&gt;-->
<!--        &lt;!&ndash; DIVIDE BOX2 &ndash;&gt;-->
<!--        <div class="col-sm-3">-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--  </form>-->


<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container register">
	<div class="row">
		<div class="col-md-5">
			<div class="Snapster-description text-center">
				<h2 style="color:White;font-family:Book Antiqua; "> Welcome to Snapster</h2>
              <br><br><br><br>
				<h4 style="color:White;font-family:Book Antiqua;">A web platform
                At San Francisco State University
                where the students and faculty members
                buy, sell and share digital media
                with ease and transparency. </h4>
			</div>
		</div>
		<div class="col-md-7">
                  <h2 class="mb-4">Register Form</h2>
				<div class="form-group">
				   <div class="register-form">
                <form class="needs-validation" METHOD="POST" novalidate>

                    <div class="form-row">
                        <div class="col mb-3">
                            <label for="validationUsername">Username</label>
                            <input type="text" class="form-control" id="validationCustom01"
                                   placeholder="" value="" required>
                            <div class="invalid-feedback">
                                Please choose username.
                            </div>
                          <small id="usernameHelpBlock" class="form-text text-muted">
                                Must be 6-20 characters long, contain only letters and numbers
                            </small>
                        </div>
                    </div>


                    <div class="form-row">
                        <div class="col mb-3">
                            <label for="validationEmail">Email</label>

                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Your Email" value="" required>
                                <div class="invalid-feedback">
                                    Please enter your SFSU email.
                                </div>

                                <div class="input-group-append">
                                    <select class="custom-select" id="inputGroupSelect01">
                                        <option selected>@mail.sfsu.edu</option>
                                        <option value="1">@sfsu.edu</option>
                                    </select>
                                </div>
                            </div>
                          <small id="emailHelpBlock" class="form-text text-muted">
                                Must be your SFSU email
                            </small>
                        </div>
                    </div>


                    <div class="form-row">
                        <div class="col mb-3">
                            <label for="validationPassword">Password</label>
                            <input type="password" class="form-control" id="validationCustom03" required>
                            <div class="invalid-feedback">
                                Please choose password.
                            </div>
                          <small id="passwordHelpBlock" class="form-text text-muted">
                                Must be 8-20 characters long
                            </small>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col mb-3">
                            <label for="validationPasswordConfirm">Confirm Password</label>
                            <input type="password" class="form-control" id="validationCustom05" required>

                            <div class="invalid-feedback">
                                Please confirm your password.
                            </div>

                        </div>
                    </div>


                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                            <label class="form-check-label" for="invalidCheck">
                                <small>I have read and agree to terms and conditions  <a href="#">Snapster Team of Use</a></small>

                            </label>
                            <div class="invalid-feedback">
                                You must agree before submitting.
                            </div>
                        </div>
                    </div>

                    <!-- RECAPTCHA -->

                    <div class="form-group text-center">
                        <div class="g-recaptcha " data-sitekey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"
                             data-callback="verifyRecaptchaCallback"
                             data-expired-callback="expiredRecaptchaCallback"></div>
                        <input class="form-control d-none" data-recaptcha="true" required
                               data-error="Please complete the Captcha">
                        <div class="help-block with-errors"></div>
                    </div>


                    <button class="btn btn-success btn-lg btn-block" type="submit">Sign Up</button><br>
                  <a href="/login"><p style="text-align:center">Already have an account?</p></a>
                </form>

            </div>
			</div>
		</div>
	</div>
</div>



<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();


</script>



<style>
body{
		background-color: #E9E9E9;
	}
	.register{
		padding: 4%;
	}
	.col-md-5{
		background: linear-gradient(to bottom, #9966ff 4%, #ff9966 100%);
		padding: 4%;
		border-top-left-radius: .5rem;
		border-bottom-left-radius: 0.5rem;
	}

	.col-md-7{
		background: #fff;
		padding: 3%;
		border-top-right-radius: 0.5rem;
		border-bottom-right-radius: 0.5rem;
	}

</style>


{% endblock %}