{% extends 'base.html' %}

{% block content %}
  <style>
    .claim {
      width: 1140px;
      height: 40px;

      font-weight: bold;
      font-size: 18px;
      line-height: 29px;
      text-align: center;

    }

    .intro-basic {

      text-align: center;
      color: #940CFF;
    }

    .intro-basic.p {
      top: 350px;
    }

    .inputbox {
      width: 386px;
      height: 43px;
      left: 90%;
      top: 61px;

      background: #FFFBFB;

      border-radius: 20px;
    }

    .inputbox-text {
      width: 198px;
      height: 35px;
      left: 68px;
      top: 147px;

      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;

      color: #000000;

    }

    .button {
      width: 384px;
      height: 59px;
      left: 25px;
      top: 415px;

      background: #FFC700;
      border-radius: 10px;
    }

    .button-text {
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 50px;
      text-align: center;

      color: #FFFFFF;
    }

    .text {
      font-weight: bold;
    }

    .text.alreadyhaveacc {
      padding-left: 40%;
    }

    .text.intro {
      font-style: normal;
      font-weight: normal;
      font-size: 36px;
    }

    .text.intro.title {
      font-size: 48px;
      font-weight: bold
    }
  </style>

  <!-- Navigation Bar Documentation -->
  <!-- https://getbootstrap.com/docs/4.4/components/navbar/ -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <span class="navbar-brand"><a class="nav-link" href="/">Snapster</a></span>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false"
      aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>


    <div class="collapse navbar-collapse" id="menu">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">{% block title %}Register{% endblock %}</a>
        </li>
      </ul>
    </div>
  </nav>


  <!-- COPYRIGHT CLAIM -->
  <!-- COPYRIGHT CLAIM -->
  <!-- COPYRIGHT CLAIM -->

  <h5 class=".container-sm"> SFSU Software Engineering Project CSC 648-848, Spring 2020. For
    Demonstration Only</h5>

  <form method="POST" action="">
    <div class="container-fluid">
      <div class="row mx-auto">

        <!-- DIVIDE BOX1 -->
        <!-- DIVIDE BOX1 -->
        <!-- DIVIDE BOX1 -->
        <div class="col-sm-3">
        </div>


        <!--MAIN DIVIDE BOX -->
        <!--MAIN DIVIDE BOX -->
        <!--MAIN DIVIDE BOX -->
        <div class="col-sm-6">
          <!-- WEBSITE INTRO -->
          <!-- WEBSITE INTRO -->
          <!-- WEBSITE INTRO -->
          <div class="row">
            <div class="col-sm-6">
              <div class="intro-basic">
                <h2 class="text intro title">
                  Welcome to Snapster
                  <br>
                </h2>
                <div>
                  <h5 class="text intro">
                    <div class="col-sm">
                      A web platform
                      <br>
                    </div>

                    <div class="col-sm">
                      At San Francisco State University,
                      <br>
                    </div>

                    <div class="col-sm">
                      where the students and faculty members
                      <br>
                    </div>

                    <div class="col-sm">
                      buy, sell and share digital media
                      <br>
                    </div>

                    <div class="col-sm">
                      with ease and transparency.
                      <br>
                    </div>
                  </h5>
                </div>
              </div>
            </div>





            <!-- REGISTER BOX -->
            <!-- REGISTER BOX -->
            <!-- REGISTER BOX -->
            <div class="col-sm-6">
              <div class="row">
                <!-- INPUTBOX DIVIDE BOX -->
                <div class="row mx-auto">
                  <div class="col-sm">
                    <div class="row mx-auto">
                      <div class="col-xl">
                        <div class="row">
                          <div class="col-sm-6">
                            <label for="username" class="inputbox-text">Username: </label>
                          </div>
                        </div>
                        {{ form.username(class="inputbox") }}
                      </div>
                    </div>
                  </div>
                </div>
                <!-- END OF INPUTBOX DIVIDE BOX -->
                <!-- INPUTBOX DIVIDE BOX 1-->
                <div class="row mx-auto">
                  <div class="col-sm">
                    <div class="row mx-auto">
                      <div class="col-xl">
                        <div class="row">
                          <div class="col-sm-6">
                            <label for="email" class="inputbox-text">SFSU Email: </label>
                          </div>
                        </div>
                        {{ form.email(class="inputbox") }}
                      </div>
                    </div>
                  </div>
                </div>
                <!-- END OF INPUTBOX DIVIDE BOX 1 -->
                <!-- INPUTBOX DIVIDE BOX 2 -->
                <div class="row mx-auto">
                  <div class="col-sm">
                    <div class="row mx-auto">
                      <div class="col-xl">
                        <div class="row">
                          <div class="col-sm-6">
                            <label for="pw" class="inputbox-text">Password: </label>
                          </div>
                        </div>
                        {{ form.password(class="inputbox") }}
                      </div>
                    </div>
                  </div>
                </div>
                <!-- END OF INPUTBOX DIVIDE BOX 2 -->
                <!-- INPUTBOX DIVIDE BOX 3 -->
                <div class="row mx-auto">
                  <div class="col-sm">
                    <div class="row mx-auto">
                      <div class="col-xl">
                        <div class="row">
                          <div class="col-sm-6">
                            <label for="cpw" class="inputbox-text">Confirm Password: </label>
                          </div>
                        </div>
                        {{ form.confirm_password(class="inputbox") }}
                      </div>
                    </div>
                  </div>
                </div>
                <!-- END OF INPUTBOX DIVIDE BOX 3 -->
              </div>

              <!-- SUBMIT BUTTON -->
              <!-- SUBMIT BUTTON -->
              <!-- SUBMIT BUTTON -->
              <br>
              <div class="button-text mx-auto">
                {{ form.submit(class="button mx-auto") }}
              </div>
              <div>
                <a href="/login" class="text alreadyhaveacc">Already have an account?</a>
              </div>
            </div>
          </div>
        </div>


        <!-- DIVIDE BOX2 -->
        <!-- DIVIDE BOX2 -->
        <!-- DIVIDE BOX2 -->
        <div class="col-sm-3">
        </div>
      </div>
    </div>
  </form>

  {% endblock %}