{% extends 'nav_bar.html' %}
{% block content %}


{#
    <!--        <div>-->
<!--            <form method="POST" action="">-->
<!--                <fieldset class="form-group">-->
<!--                    <div class="form-group">-->
<!--                        {{ form.category() }}-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        {{ form.term() }}-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        {{ form.submit() }}-->
<!--                    </div>-->
<!--                </fieldset>-->
<!--            </form>-->
<!--            {% endblock %}-->
<!--            {% block content %}-->
<!--            <header>-->
<!--            <p> CSC 648.01, Spring 2020, Team 06 </p>-->
<!--            </header>-->
#}


{% if not results %}

    <div class="container">
        <br />
        <div class="row">
            <div class="font-weight-bold">
                <h1>
                    {% block title %}Snapster{% endblock %}
                </h1>
            </div>
        </div>
        
        <div class="row">
            <div>
                <h2 class="text-secondary">
                    exclusive media for sfsu students
                </h2>
            </div>
        </div>

        <br />

        <div class="row">
            <div>
                <h4 class="text-secondary">
                    Trending Now
                </h4>
            </div>
        </div>    
        <div id="carouselTrendingNow" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col">
                            <div class="card text-white bg-secondary mb-3">
                                <img src="/static/thumbnails/sb1_t.jpg" class="card-img-top" width="250" height="250">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col">
                                            spongebob 1
                                        </div>
                                        <div class="col text-right">
                                            <i class="fas fa-download"></i>
                                        </div> 
                                    </div> 
                                </div>
                                <div class="row card-body">
                                    <div class="col card-text">
                                        image
                                    </div>
                                    <div class="col card-text text-right">
                                        $69.99
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="card text-white bg-secondary mb-3">
                                <img src="/static/thumbnails/sb2_t.jpg" class="card-img-top" width="250" height="250">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col">
                                            spongebob 2
                                        </div>
                                        <div class="col text-right">
                                            <i class="fas fa-download"></i>
                                        </div> 
                                    </div> 
                                </div>
                                <div class="row card-body">
                                    <div class="col card-text">
                                        image
                                    </div>
                                    <div class="col card-text text-right">
                                        $69.99
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="card text-white bg-secondary mb-3">
                                <img src="/static/thumbnails/sb3_t.jpg" class="card-img-top" width="250" height="250">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col">
                                            spongebob 3
                                        </div>
                                        <div class="col text-right">
                                            <i class="fas fa-download"></i>
                                        </div> 
                                    </div> 
                                </div>
                                <div class="row card-body">
                                    <div class="col card-text">
                                        image
                                    </div>
                                    <div class="col card-text text-right">
                                        $69.99
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="row">
                        <div class="col">
                            <div class="card text-white bg-secondary mb-3">
                                <img src="/static/thumbnails/sb4_t.jpg" class="card-img-top" width="250" height="250">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col">
                                            spongebob 4
                                        </div>
                                        <div class="col text-right">
                                            <i class="fas fa-download"></i>
                                        </div> 
                                    </div> 
                                </div>
                                <div class="row card-body">
                                    <div class="col card-text">
                                        image
                                    </div>
                                    <div class="col card-text text-right">
                                        $69.99
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="card text-white bg-secondary mb-3">
                                <img src="/static/thumbnails/sb5_t.jpg" class="card-img-top" width="250" height="250">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col">
                                            spongebob 5
                                        </div>
                                        <div class="col text-right">
                                            <i class="fas fa-download"></i>
                                        </div> 
                                    </div> 
                                </div>
                                <div class="row card-body">
                                    <div class="col card-text">
                                        image
                                    </div>
                                    <div class="col card-text text-right">
                                        $69.99
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="card text-white bg-secondary mb-3">
                                <img src="/static/thumbnails/sb1_t.jpg" class="card-img-top" width="250" height="250">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col">
                                            spongebob 1
                                        </div>
                                        <div class="col text-right">
                                            <i class="fas fa-download"></i>
                                        </div> 
                                    </div> 
                                </div>
                                <div class="row card-body">
                                    <div class="col card-text">
                                        image
                                    </div>
                                    <div class="col card-text text-right">
                                        $69.99
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            <div class="carousel-control-prev" href="#carouselTrendingNow" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </div>

            <div class="carousel-control-next" href="#carouselTrendingNow" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </div>

        </div>

        <br />

        <div class="row">
            <div>
                <h4 class="text-secondary">
                    Recently Added
                </h4>
            </div>
        </div>
        
        <div id="carouselRecentlyAdded" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col">
                            <div class="card text-white bg-secondary mb-3">
                                <img src="/static/thumbnails/sb1_t.jpg" class="card-img-top" width="250" height="250">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col">
                                            spongebob 1
                                        </div>
                                        <div class="col text-right">
                                            <i class="fas fa-download"></i>
                                        </div> 
                                    </div> 
                                </div>
                                <div class="row card-body">
                                    <div class="col card-text">
                                        image
                                    </div>
                                    <div class="col card-text text-right">
                                        $69.99
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="card text-white bg-secondary mb-3">
                                <img src="/static/thumbnails/sb2_t.jpg" class="card-img-top" width="250" height="250">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col">
                                            spongebob 2
                                        </div>
                                        <div class="col text-right">
                                            <i class="fas fa-download"></i>
                                        </div> 
                                    </div> 
                                </div>
                                <div class="row card-body">
                                    <div class="col card-text">
                                        image
                                    </div>
                                    <div class="col card-text text-right">
                                        $69.99
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="card text-white bg-secondary mb-3">
                                <img src="/static/thumbnails/sb3_t.jpg" class="card-img-top" width="250" height="250">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col">
                                            spongebob 3
                                        </div>
                                        <div class="col text-right">
                                            <i class="fas fa-download"></i>
                                        </div> 
                                    </div> 
                                </div>
                                <div class="row card-body">
                                    <div class="col card-text">
                                        image
                                    </div>
                                    <div class="col card-text text-right">
                                        $69.99
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="row">
                        <div class="col">
                            <div class="card text-white bg-secondary mb-3">
                                <img src="/static/thumbnails/sb4_t.jpg" class="card-img-top" width="250" height="250">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col">
                                            spongebob 4
                                        </div>
                                        <div class="col text-right">
                                            <i class="fas fa-download"></i>
                                        </div> 
                                    </div> 
                                </div>
                                <div class="row card-body">
                                    <div class="col card-text">
                                        image
                                    </div>
                                    <div class="col card-text text-right">
                                        $69.99
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="card text-white bg-secondary mb-3">
                                <img src="/static/thumbnails/sb5_t.jpg" class="card-img-top" width="250" height="250">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col">
                                            spongebob 5
                                        </div>
                                        <div class="col text-right">
                                            <i class="fas fa-download"></i>
                                        </div> 
                                    </div> 
                                </div>
                                <div class="row card-body">
                                    <div class="col card-text">
                                        image
                                    </div>
                                    <div class="col card-text text-right">
                                        $69.99
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="card text-white bg-secondary mb-3">
                                <img src="/static/thumbnails/sb1_t.jpg" class="card-img-top" width="250" height="250">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col">
                                            spongebob 1
                                        </div>
                                        <div class="col text-right">
                                            <i class="fas fa-download"></i>
                                        </div> 
                                    </div> 
                                </div>
                                <div class="row card-body">
                                    <div class="col card-text">
                                        image
                                    </div>
                                    <div class="col card-text text-right">
                                        $69.99
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                

            <div class="carousel-control-prev" href="#carouselRecentlyAdded" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </div>

            <div class="carousel-control-next" href="#carouselRecentlyAdded" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </div>

        </div>


    </div>

{% else %}

<br />
    
<div class="container">
    <div class="row">
        <div class="col">
            <h3 class="text-muted">Showing Results 1 - 5 of 5</h3>
            <nav>
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" aria-disabled="true">Previous</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link">3</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>




<div class="container">
    <div class="row">
    {% for item in results %}
        <div class="col-sm-12 col-md-4">
            <div class="card text-white bg-secondary mb-3">
                <img src="/static{{ item[4] }}" class="card-img-top" width="250" height="250">
                <div class="card-header">
                    <div class="row">
                        <div class="col">
                            {{ item[2] }}
                        </div>
                        <div class="col text-right">
                            <i class="fas fa-download"></i>
                        </div> 
                    </div> 
                </div>
                <div class="row card-body">
                    <div class="col card-text">
                        {{ item[6] }}
                    </div>
                    <div class="col card-text text-right">
                        ${{ item[7] }}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>

<br />
<br />

<div class="text-center">
    {% for item in results %}
        <tr>
            <p> OWNER ID: {{ item[1] }} </p>
            <p> IMAGE_NAME: {{ item[2] }} </p>
            <p> DESCRIPTION: {{ item[3] }} </p>
            <p> STATIC REFERENCE: {{ item[4] }} </p>
            <p> THUMBNAIL REFERENCE: {{ item[5] }}
            <p> CATEGORY: {{ item[6] }} </p>
            <p> PRICE: ${{ item[7] }} </p>
            <p>digital media: </p>
            <img src="/static{{ item[4] }}" alt="image" height="512" width="512">
            <p>thumbnail: </p>
            <img src="/static{{ item[5] }}" alt="image" height="200" width="200">
            </br>
        </tr>
    {% endfor %}
</div>


{% endif %}

    
    

{% endblock %}