<!doctype html>
<title>Upload new File</title>
<h1>Upload new File</h1>
<a class="nav-link mr-sm-auto" href="/">Snapster</a>
<form method=post enctype=multipart/form-data>
   <input type=file name=file>
   <h1>File name</h1>
   <input type=text name=filename value="{{request.submission_form.filename}}">
   <h1>description</h1>
   <input type=text name=description value="{{request.submission_form.description}}">
   <h1>price</h1>
   <input type=number name=price value="{{request.submission_form.price}}">
   <h1>category</h1>
   <div class="input-group-prepend">
      {{ submission_form.category(class_="btn custom-select") }}
   </div>
   <h1>media_type</h1>
   <div class="input-group-prepend">
      {{ submission_form.media_type(class_="btn custom-select") }}
   </div>
   <input type=submit value=Upload>
</form>