{% extends 'navbar.html' %}




{% block content %}


<style>


.custom #tabs li {
   background: #efefef;
}

.nav-tabs > li > a.active {
  background-color: orange !important;
  border-style: none;
  border-radius: 0;
}

select {

  /* styling */
  background-color: #dbc3e3;
  border: none;
  border-radius: none;
  display: inline-block;
  font: Times New Roman;
  line-height: 1.0em;
  padding: 0.5em 2.5em 0.5em 0.5em;
  align: right;

  /* reset */

  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}



select.minimal {
  background-image:
    linear-gradient(45deg, transparent 50%, purple 50%),
    linear-gradient(135deg, purple 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 1px),
    calc(100% - 15px) calc(1em + 1px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}



</style>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>


<!-- MY ITEMS AND MESSAGES TAB -->
<div class="container mt-5">
    <ul class="nav navbar-right top-nav">
        <li class="mr-5">
            <div class="dropdown">
                <a class="btn btn-info dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My Dashboard</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="/search">Logout</a>
                    </div>
            </div>
        </li>
        <li><div class="col-auto pl-1 pr-0">
                    <button class="btn btn-warning mr-1" type="button" data-toggle="modal" data-target="#UploadForm">Submit Media
                    </button>
                    <!--<a class="btn btn-warning mr-1" href="/submit" role="button">Submit Media</a> -->
                </div></li>

    </ul>

    <nav class="mt-5">
        <ul class="nav nav-tabs nav-fill" id="nav-tab" role="tablist" style="font-size:160%">
            <li class="nav-item">
                <a class="nav-link active" style="color:purple;" id="nav-items-tab" data-toggle="tab" href="#nav-items"
                   role="tab"
                   aria-controls="nav-items" aria-selected="true"><i class="fas fa-photo-video"></i> My Items
                    <span class="w3-badge w3-right w3-small w3-orange">8</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color:purple;" id="nav-messages-tab" data-toggle="tab" href="#nav-messages"
                   role="tab"
                   aria-controls="nav-messages" aria-selected="false"><i class="far fa-envelope"></i> My Messages
                    <span class="w3-badge w3-right w3-orange w3-small">12</span></a>

            </li>
        </ul>
    </nav>

    <div class="tab-content" id="nav-tabContent">
        <!-- MY DIGITAL MEDIA TAB -->
        <!-- MY DIGITAL MEDIA TAB -->
        <!-- MY DIGITAL MEDIA TAB -->
        <!-- MY DIGITAL MEDIA TAB -->
        <!-- MY DIGITAL MEDIA TAB -->
        <div class="tab-pane fade show active" id="nav-items" role="tabpanel" aria-labelledby="nav-items-tab">
            <div>
                <table class="table">
                    <thead  style="background:#dbc3e3;" >
                    <tr>
                        <th class="minimal">
                            Media Title
                        </th>
                        <th>
                            <select class="minimal" id="sortMediaType">
                                <option  selected value="allMedia"  style="background:orange;">Media type</option>
                                <option value="image">Image</option>
                                <option value="video">Video</option>
                                <option value="audio">Audio</option>
                                <option value="document">Document</option>
                            </select>
                        </th>

                        <th>
                            <select class="minimal" id="sortDate">
                                <option selected value="lastDate">Date</option>
                                <option value="firstDate">First Date</option>

                            </select>
                        </th>
                        <th>
                            <select class="minimal" id="sortPrice">
                                <option selected value="allPrice">Price</option>
                                <option value="minPrice">Low</option>
                                <option value="maxPrice">High</option>
                            </select>
                        </th>
                        <th>
                            <select class="minimal" id="sortStatus">
                                <option selected value="allStatus">Status</option>
                                <option value="soldStatus">Sold</option>
                                <option value="purchasedStatus">Purchased</option>
                                 <option value="rejectedStatus">Rejected</option>
                            </select></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>

                        <td>
                            <a class="btn btn-outline-warning btn-sm btn-sm " data-target="#viewMedia"
                               data-toggle="modal"
                               type="button">item_title</a>
                        </td>
                        <td>Image</td>
                        <td>datetime</td>
                        <td>$</td>
                        <td>sold</td>
                        <td>
                            <button class="btn btn-danger btn-sm btn-sm " data-target="#DeleteItem" data-toggle="modal"
                                    type="button">
                                <i class="material-icons">delete_forever</i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a class="btn btn-outline-warning btn-sm btn-sm " data-target="#viewMedia"
                               data-toggle="modal"
                               type="button">item_title</a>
                        </td>
                        <td>Video</td>
                        <td>datetime</td>
                        <td>$</td>
                        <td>purchased</td>
                        <td>
                            <button class="btn btn-danger btn-sm btn-sm " data-target="#DeleteItem" data-toggle="modal"
                                    type="button">
                                <i class="material-icons">delete_forever</i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a class="btn btn-outline-warning btn-sm btn-sm " data-target="#viewMedia"
                               data-toggle="modal"
                               type="button">item_title</a>
                        </td>
                        <td>Audio</td>
                        <td>datetime</td>
                        <td>$</td>
                        <td>sold</td>
                        <td>
                            <button class="btn btn-danger btn-sm btn-sm " data-target="#DeleteItem" data-toggle="modal"
                                    type="button">
                                <i class="material-icons">delete_forever</i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a class="btn btn-outline-warning btn-sm btn-sm " data-target="#viewMedia"
                               data-toggle="modal"
                               type="button">item_title</a>
                        </td>
                        <td>Document</td>
                        <td>datetime</td>
                        <td>$</td>
                        <td>purchased</td>
                        <td>
                            <button class="btn btn-danger btn-sm btn-sm " data-target="#DeleteItem" data-toggle="modal"
                                    type="button">
                                <i class="material-icons">delete_forever</i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a class="btn btn-outline-warning btn-sm btn-sm " data-target="#viewMedia"
                               data-toggle="modal"
                               type="button">item_title</a>
                        </td>
                        <td>Image</td>
                        <td>datetime</td>
                        <td>$</td>
                        <td>sold</td>
                        <td>
                            <button class="btn btn-danger btn-sm btn-sm " data-target="#DeleteItem" data-toggle="modal"
                                    type="button">
                                <i class="material-icons">delete_forever</i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a class="btn btn-outline-warning btn-sm btn-sm " data-target="#viewMedia"
                               data-toggle="modal"
                               type="button">item_title</a>
                        </td>
                        <td>Document</td>
                        <td>datetime</td>
                        <td>$</td>
                        <td>purchased</td>
                        <td>
                            <button class="btn btn-danger btn-sm btn-sm " data-target="#DeleteItem" data-toggle="modal"
                                    type="button">
                                <i class="material-icons">delete_forever</i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a class="btn btn-outline-warning btn-sm btn-sm " data-target="#viewMedia"
                               data-toggle="modal"
                               type="button">item_title</a>
                        </td>
                        <td>Image</td>
                        <td>datetime</td>
                        <td>$</td>
                        <td>sold</td>
                        <td>
                            <button class="btn btn-danger btn-sm btn-sm " data-target="#DeleteItem" data-toggle="modal"
                                    type="button">
                                <i class="material-icons">delete_forever</i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a class="btn btn-outline-warning btn-sm btn-sm " data-target="#viewMedia"
                               data-toggle="modal"
                               type="button">item_title</a>
                        </td>
                        <td>Video</td>
                        <td>datetime</td>
                        <td>$</td>
                        <td>purchased</td>
                        <td>
                            <button class="btn btn-danger btn-sm btn-sm " data-target="#DeleteItem" data-toggle="modal"
                                    type="button">
                                <i class="material-icons">delete_forever</i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a class="btn btn-outline-warning btn-sm btn-sm " data-target="#viewMedia"
                               data-toggle="modal"
                               type="button">item_title</a>
                        </td>
                        <td>Audio</td>
                        <td>datetime</td>
                        <td>$</td>
                        <td>rejected</td>
                        <td>
                            <button class="btn btn-danger btn-sm btn-sm " data-target="#DeleteItem" data-toggle="modal"
                                    type="button">
                                <i class="material-icons">delete_forever</i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a class="btn btn-outline-warning btn-sm btn-sm " data-target="#viewMedia"
                               data-toggle="modal"
                               type="button">item_title</a>
                        </td>
                        <td>Image</td>
                        <td>datetime</td>
                        <td>$</td>
                        <td>purchased</td>
                        <td>
                            <button class="btn btn-danger btn-sm btn-sm " data-target="#DeleteItem" data-toggle="modal"
                                    type="button">
                                <i class="material-icons">delete_forever</i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>


            <!-- SINGLE MEDIA VIEW -->
            <!-- SINGLE MEDIA VIEW -->


            <div aria-hidden="true" aria-labelledby="viewMedia" class="modal fade" id="viewMedia" role="dialog"
                 tabindex="-1">
                <div class="modal-dialog modal-dialog-centered modal-md" role="document">
                    <div class="modal-content">
                        <!-- Title of the Media -->
                        <div class="modal-header text-center">
                            <h5 class="modal-title w-100" id="MediaViewTitle">Digital Media Information</h5>
                            <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                <span aria-hidden="true"></span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <div class="container">
                                <form>
                                    <!-- Image of the Media -->
                                    <div class=media">
                                        <img alt="image" class="img-thumbnail mx-auto d-block img-fluid"
                                             height="300" src="/static/thumbnails/sb1_t.jpg" width="300">
                                    </div>

                                    <!-- Digital media info -->
                                    <div>
                                        <div class="row">
                                            <div class="col text-right">
                                                <label class="font-weight-bold">Category:</label>
                                            </div>
                                            <div class="col">
                                                <span>BIO 417</span>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col text-right">
                                                <label class="font-weight-bold">Media type:</label>
                                            </div>
                                            <div class="col">
                                                <span>Image</span>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col text-right">
                                                <label class="font-weight-bold">License:</label>
                                            </div>
                                            <div class="col">
                                                <span>Free</span>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col text-right">
                                                <label class="font-weight-bold">Author:</label>
                                            </div>
                                            <div class="col">
                                                <span>Username</span>
                                            </div>
                                        </div>

                                        <div class="form-group mr-3">
                                            <label class="font-weight-bold">Description:</label>
                                            <p class="card-text">"Lorem ipsum dolor sit amet, consectetur adipiscing
                                                elit,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                                                ut aliquip
                                                ex ea commodo consequat. Duis aute irure dolor."
                                            </p>
                                        </div>
                                    </div>

                                    <!-- Cancel or Download Media Buttons -->

                                    <div class="form-group text-right">
                                        <button class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!--ARE YOU SURE TO DELETE THIS ITEM MODAL -->
            <!--ARE YOU SURE TO DELETE THIS ITEM MODAL -->


            <div class="modal fade in" id="DeleteItem" tabindex="-1" role="dialog" aria-labelledby="deleteItemLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <div class="modal-body">
                                <h1 class="modal-title">Delete Item</h1>
                                <p class="text-center">Are you sure you want to delete this item?</p>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                            <button data-target="#ConfirmDelete" data-dismiss="modal" data-toggle="modal" type="button"
                                    class="btn btn-danger">DELETE
                            </button>
                        </div>

                    </div>
                </div>
            </div>

            <!--YOUR ITEM IS SUCCESSFULLY DELETED MODAL -->
            <!--YOUR ITEM IS SUCCESSFULLY DELETED MODAL -->
            <!--YOUR ITEM IS SUCCESSFULLY DELETED MODAL -->
            <div class="modal fade in" id="ConfirmDelete" aria-hidden="true">
                <div class="modal-dialog modal-confirm modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="modal-body">
                                <p class="text-center">Item is successfully deleted!</p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success btn-block" data-dismiss="modal">Close</button>
                        </div>

                    </div>
                </div>
            </div>

        </div>

        <!-- MY MESSAGES TAB -->
        <!-- MY MESSAGES TAB -->
        <!-- MY MESSAGES TAB -->
        <!-- MY MESSAGES TAB -->
        <!-- MY MESSAGES TAB -->
        <!-- MY MESSAGES TAB -->
        <!-- MY MESSAGES TAB -->
        <!-- MY MESSAGES TAB -->
        <!-- MY MESSAGES TAB -->
        <!-- MY MESSAGES TAB -->
        <!-- MY MESSAGES TAB -->
        <!-- MY MESSAGES TAB -->

        <div class="tab-pane fade" id="nav-messages" role="tabpanel" aria-labelledby="nav-messages-tab">
            <table class="table">
                <thead style="background:#dbc3e3;">
                <tr>
                    <th>Subject Tittle</th>
                    <th>Date</th>
                    <th>Sender</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <a class="btn btn-outline-info btn-sm btn-sm " data-target="#ReadMessage" data-toggle="modal"
                           type="button">Subject</a>
                    </td>
                    <td>datetime</td>
                    <td>username</td>
                    <td>
                        <button class="btn btn-danger btn-sm btn-sm " data-target="#DeleteMessage" data-toggle="modal"
                                type="button">
                            <i class="material-icons">delete_forever</i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a class="btn btn-outline-info btn-sm btn-sm " data-target="#ReadMessage" data-toggle="modal"
                           type="button">Subject</a>
                    </td>
                    <td>datetime</td>
                    <td>username</td>
                    <td>
                        <button class="btn btn-danger btn-sm btn-sm " data-target="#DeleteMessage" data-toggle="modal"
                                type="button">
                            <i class="material-icons">delete_forever</i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a class="btn btn-outline-info btn-sm btn-sm " data-target="#ReadMessage" data-toggle="modal"
                           type="button">Subject</a>
                    </td>
                    <td>datetime</td>
                    <td>username</td>
                    <td>
                        <button class="btn btn-danger btn-sm btn-sm " data-target="#DeleteMessage" data-toggle="modal"
                                type="button">
                            <i class="material-icons">delete_forever</i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a class="btn btn-outline-info btn-sm btn-sm " data-target="#ReadMessage" data-toggle="modal"
                           type="button">Subject</a>
                    </td>
                    <td>datetime</td>
                    <td>username</td>
                    <td>
                        <button class="btn btn-danger btn-sm btn-sm " data-target="#DeleteMessage" data-toggle="modal"
                                type="button">
                            <i class="material-icons">delete_forever</i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a class="btn btn-outline-info btn-sm btn-sm " data-target="#ReadMessage" data-toggle="modal"
                           type="button">Subject</a>
                    </td>
                    <td>datetime</td>
                    <td>username</td>
                    <td>
                        <button class="btn btn-danger btn-sm btn-sm " data-target="#DeleteMessage" data-toggle="modal"
                                type="button">
                            <i class="material-icons">delete_forever</i>
                        </button>
                    </td>
                <tr>
                    <td>
                        <a class="btn btn-outline-info btn-sm btn-sm " data-target="#ReadMessage" data-toggle="modal"
                           type="button">Subject</a>
                    </td>
                    <td>datetime</td>
                    <td>username</td>
                    <td>
                        <button class="btn btn-danger btn-sm btn-sm " data-target="#DeleteMessage" data-toggle="modal"
                                type="button">
                            <i class="material-icons">delete_forever</i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a class="btn btn-outline-info btn-sm btn-sm " data-target="#ReadMessage" data-toggle="modal"
                           type="button">Subject</a>
                    </td>
                    <td>datetime</td>
                    <td>username</td>
                    <td>
                        <button class="btn btn-danger btn-sm btn-sm " data-target="#DeleteMessage" data-toggle="modal"
                                type="button">
                            <i class="material-icons">delete_forever</i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a class="btn btn-outline-info btn-sm btn-sm " data-target="#ReadMessage" data-toggle="modal"
                           type="button">Subject</a>
                    </td>
                    <td>datetime</td>
                    <td>username</td>
                    <td>
                        <button class="btn btn-danger btn-sm btn-sm " data-target="#DeleteMessage" data-toggle="modal"
                                type="button">
                            <i class="material-icons">delete_forever</i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a class="btn btn-outline-info btn-sm btn-sm " data-target="#ReadMessage" data-toggle="modal"
                           type="button">Subject</a>
                    </td>
                    <td>datetime</td>
                    <td>username</td>
                    <td>
                        <button class="btn btn-danger btn-sm btn-sm " data-target="#DeleteMessage" data-toggle="modal"
                                type="button">
                            <i class="material-icons">delete_forever</i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a class="btn btn-outline-info btn-sm btn-sm " data-target="#ReadMessage" data-toggle="modal"
                           type="button">Subject</a>
                    </td>
                    <td>datetime</td>
                    <td>username</td>
                    <td>
                        <button class="btn btn-danger btn-sm btn-sm " data-target="#DeleteMessage" data-toggle="modal"
                                type="button">
                            <i class="material-icons">delete_forever</i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <!--ARE YOU SURE TO DELETE THIS MESSAGE MODAL -->
        <!--ARE YOU SURE TO DELETE THIS MESSAGE MODAL -->
        <!--ARE YOU SURE TO DELETE THIS MESSAGE MODAL -->
        <!--ARE YOU SURE TO DELETE THIS MESSAGE MODAL -->


        <div class="modal fade in" id="DeleteMessage" tabindex="-1" role="dialog" aria-labelledby="deleteMessageLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <div class="modal-body">
                            <h1 class="modal-title">Delete Message</h1>
                            <p class="text-center">Are you sure you want to delete this message?</p>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                        <button data-target="#ConfirmMessageDelete" data-dismiss="modal" data-toggle="modal"
                                type="button" class="btn btn-danger">DELETE
                        </button>
                    </div>

                </div>
            </div>
        </div>

        <!--YOUR MESSAGE IS SUCCESSFULLY DELETED MODAL -->
        <!--YOUR MESSAGE IS SUCCESSFULLY DELETED MODAL -->
        <!--YOUR MESSAGE IS SUCCESSFULLY DELETED MODAL -->
        <div class="modal fade in" id="ConfirmMessageDelete" aria-hidden="true">
            <div class="modal-dialog modal-confirm modal-dialog-centered modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-body">
                            <p class="text-center">Message is successfully deleted</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success btn-block" data-dismiss="modal">Close</button>

                    </div>

                </div>
            </div>
        </div>

        <!--READ MY MESSAGES MODAL -->
        <!--READ MY MESSAGES MODAL -->
        <!--READ MY MESSAGES MODAL -->
        <!--READ MY MESSAGES MODAL -->

        <div class="modal fade" id="ReadMessage" tabindex="-1" role="dialog" aria-labelledby="ReadMessageLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-md" role="document">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">View message</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <form>

                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Sender:</label>
                                <input type="text" class="form-control" id="recipientName"
                                       placeholder="username@mail.sfsu.edu"
                                       readonly>
                            </div>

                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Subject:</label>
                                <input type="text" class="form-control" id="messageSubject"
                                       placeholder="Digital Media Title"
                                       readonly>
                            </div>

                            <div class="form-group">
                                <label for="message-text" class="col-form-label"> Message:</label>
                                <p class="card-text" id="messageContent">"Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                    ex ea commodo consequat. Duis aute irure dolor."
                                </p>
                            </div>

                        </form>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                        <button data-target="#SendMessage"  data-toggle="modal" data-dismiss="modal" type="button"
                                class="btn btn-success">Reply
                        </button>
                    </div>
                </div>
            </div>

        </div>


    </div>



    <div class="modal fade" id="SendMessage" tabindex="-1" role="dialog" aria-labelledby="sendMessageLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" >New message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form>
                    <label for="recipient-name" class="col-form-label col-">Recipient: </label>
                    <br>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fa fa-at"></i></div>
                        </div>
                        <input type="text" class="form-control" id="recipient-name" placeholder="Author"
                               readonly>
                    </div>

                    <label for="recipient-name" class="col-form-label">Subject</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="far fa-envelope "></i></div>
                        </div>
                        <input type="text" class="form-control" id="message-subject" placeholder="Digital Media Title"
                               readonly>
                    </div>

                    <label for="datepicker" class="col-form-label">Date</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="far fa-calendar-alt "></i></div>
                        </div>
                        <input type="text" class="form-control datepicker" id="datepicker"
                               readonly>
                    </div>


                    <div class="form-group">
                        <label for="message-text" class="col-form-label"> Message</label>
                        <textarea class="form-control" id="message-text" placeholder="Type your message here..."
                                  rows="10" required></textarea>
                    </div>

                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" style="margin:15px;" data-dismiss="modal">
                    Cancel
                </button>
                <button data-target="#MessageSent" data-dismiss="modal" data-toggle="modal" type="button"
                        class="btn btn-warning">Send Message
                </button>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">
$( document ).ready(function()
    {
        var now = new Date();
        $('#datepicker').val(now.toLocaleString());
    });
</script>


<!--YOUR MESSAGE IS SENT MODAL -->
<!--YOUR MESSAGE IS SENT MODAL -->
<!--YOUR MESSAGE IS SENT MODAL -->

<div class="modal fade in" id="MessageSent" aria-hidden="true">
    <div class="modal-dialog modal-confirm modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-body">
                    <p class="text-center">Your message is sent</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-block" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



    <!--PAGINATION -->
    <!--PAGINATION -->
    <!--PAGINATION -->
    <!--PAGINATION -->
    <!--PAGINATION -->
    <!--PAGINATION -->

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" style="color:purple;" href="#">1</a></li>
            <li class="page-item"><a class="page-link" style="color:purple;" href="#">2</a></li>
            <li class="page-item"><a class="page-link" style="color:purple;" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" style="color:purple;" href="#">Next</a>
            </li>
        </ul>
    </nav>


</div>

{% endblock %}